{% extends "base.html" %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <script src ="/static/pdfextract.js" type="text/JavaScript"></script>
  </head>
  <body>
    <div class="container my-3">
      <table class="table" style="table-layout: fixed;word-break:break-all;height:auto">
        <thead>
          <tr class="table-dark">
            <th scope="col" width="4%"> 
              {% comment %} <input type="checkbox" name="pdf_list" value="selectall" onclick="selectAll(this)"> {% endcomment %}
            </th>
            <th scope="col" width="25%">수집 링크</th>
            <th scope="col" width="10%">작성자 ID</th>
            <th scope="col" width="10%">작성일</th>
            <th scope="col" width="10%">키워드</th>
            <th scope="col" width="10%">카테고리</th>
            <th scope="col" width="5%">추출</th>
            <th scope="col" width="5%">삭제</th>
          </tr>
        </thead>
        {% if url_list %}
        {% for url in url_list %}
        <tbody>
          <tr>
            <th scope="col"> 
              <form method="POST" action="{% url 'pdfextract:extract' %}" enctype="multipart/form-data" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
                <input type="checkbox" name="box" value="{{url.id}}">
            </th>
            <th scope="col">{{ url.url }}</th>
            <th scope="col">{{ url.user_id }}</th>
            <th scope="col">{{ url.date }}</th>
            <th scope="col">{{ url.keyword }}</th>
            <th scope="col">{{ url.category }}</th>
            <td>
              <button type="submit" name="btn_extract" class="btn btn-primary" style="background-color: #782B28; margin-bottom:10px">추출</button>
            </form>
            </td>
            <td>
              <button type="submit" name="btn_delete" class="btn btn-primary" style="background-color: #782B28; margin-bottom:10px" onclick="location.href='/pdfextract/delete/{{url.pk}}'">삭제</button>
            </td>
          </tr>
        {% endfor %}
        {% else %}
            <p>No URL</p>
        {% endif %}
      </table>
      <!-- 페이징처리 시작 -->
      <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if url_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ url_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in url_list.paginator.page_range %}
        {% if page_number >= url_list.number|add:-5 and page_number <= url_list.number|add:5 %}
        {% if page_number == url_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if url_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ url_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
      </ul>
<!-- 페이징처리 끝 -->



    </body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
  const selectAll = document.getParameter("pdf_list");

</script>
{% endblock %}