{% extends "base.html" %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <script src ="/static/pdfextract.js" type="text/JavaScript"></script>
  </head>
  <body>
    <div class="container my-3">
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col"> 
              {% comment %} <input type="checkbox" name="pdf_list" value="selectall" onclick="selectAll(this)"> {% endcomment %}
            </th>
            <th scope="col">수집 링크</th>
            <th scope="col">작성자 ID</th>
            <th scope="col">작성일</th>
            <th scope="col">키워드</th>
            <th scope="col">카테고리</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        {% if url_list %}
        {% for url in url_list %}
        <tbody>
          <tr>
            <th scope="col"> 
              <form method="POST" action="{% url 'pdfextract:extract' %}" enctype="multipart/form-data" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
                <input type="checkbox" name="box" value="{{url.id}}">
            </th>
            <th scope="col">
                <ul>             
                    {{ url.url }}
                </ul>
            </th>
            <th scope="col">{{url.user_id}}</th>
            <th scope="col">{{ url.date }}</th>
            <th scope="col">{{ url.keyword }}</th>
            <th scope="col">카테고리</th>
            <td>
                <button type="submit" class="btn btn-primary" style="background-color: #782B28; margin-bottom:10px">추출</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        {% else %}
            <p>No URL</p>
        {% endif %}
      </table>
    </body>
{% endblock %}