{% extends "base.html" %}

{% block content %}


<body>
    <div style="padding-left:20px;padding-top:20px">
    
    <h4 style="padding-left: 180px; padding-top: 20px;"><strong> 오늘의 법률 </strong></h4>
  <div class="card-grid" style="padding-left: 180px; padding-right: 180px;">
  
    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/2.png" height="330">
      <h3 style="padding-top: 10px;">악성댓글 고소 성립 기준</h3>
      <p>해당 죄의 성립 기준에 대해서 먼저 살펴보도록 하겠습니다. 이는 특정된 사람이 있어야 합니다.
        그리고 자신 이외에 다른 사람이 보았을 때 그 피해자가 누구인지 알아차릴 정도가 되어야 합니다.</p>
    </div>

    
    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/1.png" height="330">
      <h3 style="padding-top: 10px;">사이버 명예훼손이란?</h3>
      <p>온라인 상에서 타인에 대한 이름/인격/신분 등의 사회적 평가에 해를 끼쳐서 손해를 입히는 것을 뜻합니다.
        진실이든, 거짓이든 타인의 명예를 온라인으로 훼손하였다면 사이버 명예훼손죄로써 처벌받을 수 있어요.
      </p>
    </div>

    
    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/3.png" height="330">
      <h3 style="padding-top: 10px;">사이버 명예훼손 성립조건</h3>
      <p>첫 번째, 피해자가 특정될 수 있어야 합니다.
        두 번째, 가해자가 피해자를 비방의 목적으로 써야 합니다.
        세번째 특정인의 명예를 실추시켰다는 요건을 만족해야합니다.
      </p>
    </div>

    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/4.png" height="330">
      <h3 style="padding-top: 10px;">사이버 명예훼손 처벌 수위</h3>
      <p>사실 기반의 내용으로 범행을 저지른다면 3년 이하의 징역/3천만원 이하의 벌금형
        거짓 기반의 내용으로 범행을 저지른다면 7년 이하의 징역/5천만원 이하의 벌금형/10년 이하의 자격정지의 처벌을 받게 됩니다.
      </p>
    </div>

    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/5.png" height="330">
      <h3 style="padding-top: 10px;">통신매체이용음란죄</h3>
      <p>자기 또는 다른 사람의 성적 욕망을 유발하거나 만족시킬 목적으로 전화, 우편, 컴퓨터, 그 밖의 통신매체를 통하여
        성적 수치심이나 혐오감을 일으키는 말, 음향, 글, 그림, 영상 또는 물건을 상대방에게 도달하게 한 사람은
        2년 이하의 징역 또는 2천만 원 이하의 벌금에 처한다.</p>
    </div>

    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/6.png" height="330">
      <h3 style="padding-top: 10px;">악플 고소 진행 시 증거 필수</h3>
      <p>고소를 진행하려면 위법행위를 증명할 수 있도록 일관되고
        논리적인 진술과 합법적으로 수집한 객관적인 증거를 준비하여 대응할 수 있어야 합니다.
        증거재판주의에 따라서 진술자체가 신빙성이 있다고 하더라도 이에 따른 명확한 증거가 없다면 입증이 이루어지지 않습니다.</p>
    </div>

    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/7.png" height="330">
      <h3 style="padding-top: 10px;">고소장 작성</h3>
      <p>고소장은 본인하고 가해자의 인적사항에 대해 적어야 합니다.
        혹여 가해측의 인적사항에 대해 모르고 있다면 온라인 상의 아이디 또는 닉네임을 같이 적어내는 것이 좋고
        가능하다면 많은 것을 적어내는 것이 좋습니다.
        악성댓글고소 피해자는 가해자한테 원하는 처벌과 관련하여 디테일하게 적는 것이 좋습니다.
      </p>
    </div>

    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/8.png" height="330">
      <h3 style="padding-top: 10px;">사이버모욕</h3>
      <p>온라인 상에서 상대방에게 욕설, 조롱을 하거나 구체적인 사실을 적시하지 않고
        자신의 판단에 따라서 상대방을 모욕하고 명예에 해를 입히는 것을 말합니다.</p>
    </div>

    
    <div class="card" style="width: 400px;">
      <img src="https://tractor-bucket.s3.ap-northeast-2.amazonaws.com/image/sogading/9.png" height="330">
      <h3 style="padding-top: 10px;">사이버 모욕 처벌 수위</h3>
      <p>사이버모욕은 형법에 따라 처벌 받습니다.
        1년 이하의 징역이나 금고 또는 2백만원 이하의 벌금을 받습니다.
        여기서 중요한 것은 모욕죄는 고소가 있어야 공소를 제기할 수 있습니다.</p>
    </div>


    <!-- Add more cards as needed -->

  </div>
</body>





{% endblock %}