{% extends "base.html" %}

{% block content %}


<body>
    <div style="padding-left:20px;padding-top:20px">
    
    <h4> 오늘의 법률 </h4>
  <div class="card-grid">
    <!-- Card 1 -->
    <div class="card">s
      <h3>Card 1</h3>
      <p>This is the content of card 1.</p>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <h3>Card 2</h3>
      <p>This is the content of card 2.</p>
    </div>

    <!-- Card 3 -->
    <div class="card">
      <h3>Card 3</h3>
      <p>This is the content of card 3.</p>
    </div>

    <div class="card">
        <h3>Card 4</h3>
        <p>This is the content of card 4.</p>
      </div>

      <div class="card">
        <h3>Card 5</h3>
        <p>This is the content of card 5.</p>
      </div>

      <div class="card">
        <h3>Card 6</h3>
        <p>This is the content of card 6.</p>
      </div>


      <div class="card">
        <h3>Card 7</h3>
        <p>This is the content of card 7.</p>
      </div>

      
      <div class="card">
        <h3>Card 8</h3>
        <p>This is the content of card 8.</p>
      </div>

    
      
      <div class="card">
        <h3>Card 9</h3>
        <p>This is the content of card 9.</p>
      </div>


    <!-- Add more cards as needed -->

  </div>
</body>





{% endblock %}