{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if evidence_list %}
        {% for evidence in evidence_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{{evidence.pk}}">{{ evidence.title }}</a>
            </td>
            <td>{{ evidence.created_at }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'evidence:write' %}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}