{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <select name="crime" id="crime">
            <option value="모욕">모욕</option>
            <option value="명예훼손">명예훼손</option>
            <option value="음란">음란</option>
            <option value="기타">기타</option>
        </select>
        <button type="submit" class="btn text-white" style="background-color: #782B28;">저장하기</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("select[name=crime]").change(function () {
        $("#crime").submit();
        console.log('범죄 선택')

        });
    });
</script>
{% endblock %}